header {
	.hero {
		height: calc(100vh - 100px);
		min-height: 400px;
		position: relative;
		background-color: #c5fced;

		.introduction {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 100%;

			.intro-text {
				width: 40%;
				flex-direction: column;
			}
		}

		.hero-rip {
			background-image: url(../assets/rips.png);
			background-position: bottom;
			background-repeat: repeat-x;
			background-size: contain;
			bottom: -0.1rem;
			height: 9.2rem;
			left: 0;
			position: absolute;
			right: 0;
			z-index: 2;
		}
	}
}
