/** Color variables */
$green-dark: #183834;
$green-british: #004225;
$green-leaf: #7ad860;
$green-mint: #c5fced;

$transparent-black: #00000000;
$neutral-black: #0d0d0d;
$neutral-gray-dark: #a3a19d;
$neutral-gray-medium-dark: #c8c8c6;
$neutral-gray-medium: #d9d9d9;
$neutral-gray-medium-light: #f2f2f2;
$neutral-gray-light: #f7f7f7;
$neutral-white: #ffffff;

$warm-yellow-cognac: #c36f00;
$warm-yellow-golden: #f5a228;
