/** Color variables */
$color-dark-green: #183834;
$color-lettuce: #7ad860;
$color-golden-yellow: #f5a228;

$color-white: #ffffff;
$color-snow: #f4f4f4;
$color-silver: #cccccc;
$color-moon: #999999;
$color-nickel: #666666;
$color-coal: #333333;
$color-black: #000000;
$color-black-transparent: #00000000;
