/**
 * ITC Avant Garde Font Variables 
 * Bold == 700 font weight
 * Book == 300 font weight
 * Medium == 500 font weight 
 */
$avant-garde-headline-font-family: itc-avant-garde-gothic-pro, sans-serif;
$avant-garde-headline-font-weight: 700;

$avant-garde-paragraph-font-family: itc-avant-garde-gothic-pro, sans-serif;
$avant-garde-paragraph-font-weight: 300;

/**
 * Proxima Nova Font Variables
 */
$proxima-nova-paragraph-font-family: proxima-nova, sans-serif;
$proxima-nova-paragraph-font-weight: 500;
