$media-small: 24rem;
$media-small2: 29.75rem;
$media-small3: 39.8rem;
$media-medium: 46.8rem;
$media-medium2: 48rem;
$media-large: 50rem;
$media-large2: 54.5rem;
$media-xlarge: 60rem;
$media-xlarge2: 67rem;
