nav {
	.header-logo {
		background-image: url('../assets/main-nav-logo.png');
	}

	.social-media-links {
		.github {
			background-image: url('../assets/24px/github-mark-dark-24px.png');
		}

		.linkedin {
			background-image: url('../assets/24px/linkedin-logo-dark-24px.png');
		}

		.codepen {
			background-image: url('../assets/24px/codepen-logo-dark-24px.png');
		}
	}
}
