@import './colors';
@import './fonts';

$theme-dark: (
	body: (
		bg: $color-nickel,
		headline-font-family: $avant-garde-headline-font-family,
		headline-font-weight: $avant-garde-headline-font-weight,
		paragraph-font-family: $avant-garde-paragraph-font-family,
		paragraph-font-weight: $avant-garde-paragraph-font-weight,
		text-color: $color-white,
		link-hover-color: $color-moon,
	),
	header: (
		bg: $color-coal,
		hero-rip-color: dark,
	),
	nav: (
		header-logo: url('../assets/main-nav-logo-light.png'),
		social-github: url('../assets/24px/github-mark-light-24px.png'),
		social-linkedin: url('../assets/24px/linkedin-logo-light-24px.png'),
		social-codepen: url('../assets/24px/codepen-logo-light-24px.png'),
		border-bottom: $color-silver,
		menu-button-transparent: $color-white-transparent,
		menu-button-span: $color-white,
	),
	footer: (
		bg: $color-coal,
		social-icon-color: light,
	),
);
