@import './colors';
@import './fonts';

$theme-light: (
	body: (
		bg: $color-white,
		headline-font-family: $avant-garde-headline-font-family,
		headline-font-weight: $avant-garde-headline-font-weight,
		paragraph-font-family: $avant-garde-paragraph-font-family,
		paragraph-font-weight: $avant-garde-paragraph-font-weight,
		text-color: $color-coal,
		link-hover-color: $color-lettuce,
	),
	header: (
		bg: $color-silver,
		hero-rip-color: light,
	),
	nav: (
		header-logo: url('../assets/main-nav-logo-dark.png'),
		social-github: url('../assets/24px/github-mark-dark-24px.png'),
		social-linkedin: url('../assets/24px/linkedin-logo-dark-24px.png'),
		social-codepen: url('../assets/24px/codepen-logo-dark-24px.png'),
		border-bottom: $color-snow,
		menu-button-transparent: $color-black-transparent,
		menu-button-span: $color-black,
		is-active: $color-nickel,
	),
	footer: (
		bg: $color-silver,
		action-button-bg: $color-snow,
		social-github: url('../assets/32px/github-mark-dark-32px.png'),
		social-linkedin: url('../assets/32px/linkedin-logo-dark-32px.png'),
		social-codepen: url('../assets/32px/codepen-logo-dark-32px.png'),
		social-behance: url('../assets/32px/behance-logo-dark-32px.png'),
		social-dribbble: url('../assets/32px/dribbble-logo-dark-32px.png'),
		social-instagram: url('../assets/32px/instagram-logo-dark-32px.png'),
	),
);
