nav {
    display: flex;
    border-bottom: 1px solid #F7F7F7;

    div {
        padding-left: 6%;
        padding-right: 6%;
    }
      
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: saturate(85%) blur(8px);
        backdrop-filter: saturate(85%) blur(8px);
    }

    a {
        text-decoration: none;
        color: #0D0D0D;
    }

    .text-link {
        margin-top: 48px;
        text-align: end;
        font-weight: 500;

        a {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    .header-logo {
        font-family: proxima-nova, sans-serif;
        font-weight: bold;
        font-size: 72px;
        color: #183834;
    }
}
