@import '../scss-partials/colors';
@import '../scss-partials/mediaqueries';
@import '../scss-partials/fonts';
@import '../scss-partials/navigationproperties';

nav {
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0px;
	display: flex;
	align-self: flex-start;
	z-index: 97;
	border-bottom: 1px solid $neutral-gray-light;

	a {
		color: $neutral-black;
		&:hover,
		&:active {
			color: $green-leaf;
		}
	}

	@media only screen and (max-width: $media-medium) {
		&.desktop-navigation {
			display: none;
		}

		&.mobile-navigation {
			width: 100%;
			height: 74px;
			display: flex;
			flex-direction: column;

			.mobile-menu-header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: 74px;
				padding-left: 25px;
				background-color: $neutral-white;
				border-bottom: 1px solid $neutral-gray-light;
				z-index: 99;
			}
		}
	}

	@media only screen and (min-width: $media-medium) {
		&.mobile-navigation {
			display: none;
		}

		&.desktop-navigation {
			display: flex;
			height: 6rem;

			@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
				-webkit-backdrop-filter: saturate(85%) blur(8px);
				backdrop-filter: saturate(85%) blur(8px);
			}

			div {
				padding-left: 6%;
				padding-right: 6%;
			}

			.text-link {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				width: 100%;
				text-transform: capitalize;

				a {
					margin-right: 1rem;
					margin-left: 1rem;
				}

				.social-media-links {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					text-transform: capitalize;

					div {
						height: 24px;
						width: 24px;
						cursor: pointer;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}
