nav {
	display: flex;
	border-bottom: 1px solid #f7f7f7;
	z-index: 99;

	div {
		padding-left: 6%;
		padding-right: 6%;
	}

	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
		-webkit-backdrop-filter: saturate(85%) blur(8px);
		backdrop-filter: saturate(85%) blur(8px);
	}

	a {
		text-decoration: none;
		color: #0d0d0d;
	}

	.text-link {
		margin-top: 48px;
		text-align: end;
		font-weight: 500;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		a {
			margin-right: 1rem;
			margin-left: 1rem;
		}

		.social-media-links {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-top: -4px;

			div {
				height: 24px;
				width: 24px;
				cursor: pointer;
			}

			.github {
				background-image: url('../assets/24px/github-mark-dark-24px.png');
				background-repeat: no-repeat;
			}

			.linkedin {
				background-image: url('../assets/24px/linkedin-logo-dark-24px.png');
				background-repeat: no-repeat;
			}

			.codepen {
				background-image: url('../assets/24px/codepen-logo-dark-24px.png');
				background-repeat: no-repeat;
			}
		}
	}

	.header-logo {
		font-family: proxima-nova, sans-serif;
		font-weight: bold;
		font-size: 72px;
		color: #183834;
	}
}
