@import '../scss-partials/colors';
@import '../scss-partials/mediaqueries';
@import '../scss-partials/fonts';

nav {
	display: flex;
	border-bottom: 1px solid $neutral-gray-light;
	z-index: 99;
	height: 6rem;

	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
		-webkit-backdrop-filter: saturate(85%) blur(8px);
		backdrop-filter: saturate(85%) blur(8px);
	}

	div {
		padding-left: 6%;
		padding-right: 6%;
	}

	a {
		text-decoration: none;
		color: #0d0d0d;
		white-space: nowrap;
	}

	.text-link {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 100%;

		a {
			margin-right: 1rem;
			margin-left: 1rem;
		}

		.social-media-links {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			div {
				height: 24px;
				width: 24px;
				cursor: pointer;
			}

			.github {
				background-image: url('../assets/24px/github-mark-dark-24px.png');
				background-repeat: no-repeat;
			}

			.linkedin {
				background-image: url('../assets/24px/linkedin-logo-dark-24px.png');
				background-repeat: no-repeat;
			}

			.codepen {
				background-image: url('../assets/24px/codepen-logo-dark-24px.png');
				background-repeat: no-repeat;
			}
		}
	}

	.header-logo {
		font-family: $paragraph-font-family;
		font-weight: bold;
		font-size: 72px;
		line-height: 5.5rem;
		color: #183834;
	}
}
