@import '../scss-partials/colors';
@import '../scss-partials/mediaqueries';
@import '../scss-partials/fonts';
@import 'mobile-menu-button';

nav {
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0px;
	display: flex;
	align-self: flex-start;
	z-index: 97;
	border-bottom: 1px solid $neutral-gray-light;

	@media only screen and (max-width: $media-medium) {
		&.desktop-navigation {
			display: none;
		}

		&.mobile-navigation {
			width: 100%;
			position: fixed;
			height: 80px;
			background-color: $neutral-white;

			transition-property: top;
			transition-duration: 0.3s;

			-webkit-transition-property: top;
			-webkit-transition-duration: 0.3s;

			.mobile-menu-content {
				position: relative;
				width: 100%;
				height: 100vh;
				margin-left: -82px;
				margin-top: 79px;
				overflow: hidden;

				&[data-menu-open='true'] {
					background: rgba(97, 97, 97, 0.75);
				}

				ul.menu-list {
					position: relative;
					display: flex;
					flex-direction: column;
					list-style: none;
					height: calc(100vh * 0.8);
					background-color: $neutral-white;
					border-bottom: 1px solid $neutral-gray-light;

					li {
						padding-left: 2rem;

						a {
							text-decoration: none;

							h2 {
								font-family: proxima-nova-condensed, sans-serif;
								font-weight: 900;
								font-style: normal;
								line-height: 2.5rem;
							}
						}
					}

					&[data-menu-open='true'] {
						transform: none;
						transition-duration: 0.4s;

						transform: none;
						transition-duration: 0.4s;

						-webkit-transform: none;
						-webkit-transition-duration: 0.4s;

						li:first-of-type {
							transform: none;
							transition-delay: 0.05s;
							transition-duration: 0.82s;

							-webkit-transform: none;
							-webkit-transition-delay: 0.05s;
							-webkit-transition-duration: 0.82s;
						}

						li:nth-of-type(2) {
							transform: none;
							transition-delay: 0.1s;
							transition-duration: 0.84s;

							-webkit-transform: none;
							-webkit-transition-delay: 0.1s;
							-webkit-transition-duration: 0.84s;
						}

						li:nth-of-type(3) {
							transform: none;
							transition-delay: 0.15s;
							transition-duration: 0.86s;

							-webkit-transform: none;
							-webkit-transition-delay: 0.15s;
							-webkit-transition-duration: 0.86s;
						}
						li:nth-of-type(4) {
							transform: none;
							transition-delay: 0.2s;
							transition-duration: 0.88s;

							-webkit-transform: none;
							-webkit-transition-delay: 0.2s;
							-webkit-transition-duration: 0.88s;
						}
					}

					&[data-menu-open='false'] {
						transform: translateY(calc(-100% + -80px));
						transition: transform 0.2s;

						li {
							transform: translateX(calc(-100%));
							transition-duration: 0s;

							-webkit-transform: translateX(calc(-100%));
							-webkit-transition-duration: 0s;
						}
					}
				}
			}
		}
	}

	@media only screen and (min-width: $media-medium) {
		&.mobile-navigation {
			display: none;
		}

		&.desktop-navigation {
			display: flex;
			height: 6rem;

			@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
				-webkit-backdrop-filter: saturate(85%) blur(8px);
				backdrop-filter: saturate(85%) blur(8px);
			}

			div {
				padding-left: 6%;
				padding-right: 6%;
			}

			a {
				text-decoration: none;
				color: #0d0d0d;
				white-space: nowrap;
			}

			.text-link {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				width: 100%;

				a {
					margin-right: 1rem;
					margin-left: 1rem;
				}

				.social-media-links {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;

					div {
						height: 24px;
						width: 24px;
						cursor: pointer;
					}

					.github {
						background-image: url('../assets/24px/github-mark-dark-24px.png');
						background-repeat: no-repeat;
					}

					.linkedin {
						background-image: url('../assets/24px/linkedin-logo-dark-24px.png');
						background-repeat: no-repeat;
					}

					.codepen {
						background-image: url('../assets/24px/codepen-logo-dark-24px.png');
						background-repeat: no-repeat;
					}
				}
			}

			.header-logo {
				font-family: $paragraph-font-family;
				font-weight: bold;
				font-size: 72px;
				line-height: 5.5rem;
				color: #183834;
			}
		}
	}
}
