main {
    margin-right: 5%;
    margin-left: 5%;
}

.sticky-nav {
    nav {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0px;
        align-self: flex-start;
    }
}
