body {
    margin: 0;
    font-family: yorkten-slab-extended, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
}

div {
    width: 100%;
}
