form {
    width: 80%;
    display: flex;
    align-items: flex-end;
    min-width: 90%;
    flex-direction: column;
    align-items: stretch;

    legend {
        color: #ffffff !important;
    }

    textarea, input {
        padding: 12px;
        margin: 8px;
        min-width: 300px;
        max-width: 1000px;
        background-color: #fff;
        border-radius: 2px;
        border: none;
    }

    .send {
        align-self: flex-end;
        width: 50px;
        font-family: yorkten-slab-extended, sans-serif;
        font-weight: 500;
        background-color: #7AD860;
    }
}