@import '../scss-partials/fonts';
@import '../scss-partials/colors';
@import '../scss-partials/mediaqueries';

form {
	display: flex;
	flex-direction: column;
	width: 100%;

	textarea,
	input {
		padding: 8px;
		margin-bottom: 8px;
		background-color: $neutral-white;
		border-radius: 2px;
		border: none;
	}

	.send {
		font-family: $headline-font-family;
		font-weight: $paragraph-font-weight;
		background-color: $green-leaf;
		align-self: flex-end;

		@media only screen and (max-width: $media-large2) {
			width: 100%;
		}

		@media only screen and (min-width: $media-large2) {
			width: 25%;
		}
	}
}
