footer {
    background-color: #183834;
    padding-bottom: 2%;

    .rotated {
        transform: rotate(180deg);

        .hero-rip {
            background-image: url(../assets/rips.png);
            background-position: top;
            background-repeat: repeat-x;
            background-size: contain;
            bottom: -0.1rem;
            height: 9.2rem;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 2;
        }
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 6rem;
        color: #ffffff;

        .row {
            display: flex;
            align-items: flex-start;
            
            .column-left {
                padding-right: 5%;
    
                p {
                    margin-bottom: 64px;
                }
    
                .social-media-links {
                    display: flex;
                    flex-direction: row;
                    
                    a {
                        margin-right: 32px;
                        width: 32px;
        
                        div {
                            height: 32px;
                            width: 32px;
                            cursor: pointer;
                        }
        
                        .github {
                            background-image: url('../assets/github-mark-light-32px.png');
                        }
        
                        .linkedin {
                            background-image: url('../assets/linkedin-logo-light-32px.png');
                        }
            
                        .codepen {
                            background-image: url('../assets/codepen-logo-light-32px.png');
                        }

                        .behance {
                            background-image: url('../assets/behance-logo-light-32px.png');
                            background-repeat: no-repeat;
                            margin-top: 6px;
                        }

                        .dribbble {
                            background-image: url('../assets/dribbble-logo-light-32px.png');
                        }

                        .instagram {
                            background-image: url('../assets/instagram-logo-light-32px.png');
                        }
                    }
                }
            }
    
            .column-right {
                display: flex;
                justify-content: center;
            }
        }

        .copyright {
            position: bottom;
            margin-top: auto;
        }
    }
}
